 #chat_container {
    z-index:99999999999;
    float:right;
    overflow: hidden;
    display:inline;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(white), to(rgb(237, 241, 244)));
    padding: 0px;
    margin: 0px;
    font-size: 14px;
    position: absolute;
    top: 0px;
    right: 0px;
    font-family: proxima-nova, "Helvetica Neue", Arial, sans-serif;
    .s {
      height: 100vh;
      .foldIn {
        .chatroom {
          top: 0px;
          left: 0px;
          bottom: 0px;
          right: 0px;
          height: 100%;
          border: 1px solid black;
          text-align:center;
          overflow: scroll;
          .room {
            border: 1px solid black;
            padding: 10px 0px 10px 0px;
            margin: 10px 0px 10px 0px;     
          }
        }
        .usersBoxContainer {
          height: 100vh;
          overflow: scroll;
          top: 0px;
          left: 0px;
          bottom: 0px;
          right: 0px;
          border: 1px solid black;
          .h3 {
            text-align: center;
          }
          .users {
              border-top: 1px solid black;
            .userbox {
              .camera_connect {
                float: left;
              }
              .username {
              
              }
            }
          }
        }
        .uservideos {
          border-top:1px solid black;
          li {
            list-style:none;
          }
          li .video {
            float: left;
            margin: 10px;
            border: 5px solid #fff;
            
            transition: all .3s ease;
          }

          li .video:hover {
            -webkit-box-shadow:0px 0px 5px #fff;
          }
          .videobox {
            video {
              width:150px;
              height:150px;
            }
            .videoname {

            }
          }
        }
      }
      .chat {
        border: 3px groove black;
        -webkit-box-shadow: rgb(46, 74, 117) 7px 6px 12px -2px;
        box-shadow: rgb(46, 74, 117) 7px 6px 12px -2px;
        height:  100vh;
        overflow: scroll;
        top: 0px;
        left: 0px;
        bottom: 0px;
        right: 0px;
        border: 1px solid black;
        .fa-arrow-left {
          position: absolute;
          top: 300px;
          padding-right: -10px;
          margin-right: -10px;
        }
        .navbar {
          margin-bottom:0px;
          min-height:20px;
          h4 {
            float: left;
          }
          .video {
            padding-right:4px;
          }
          .camera {
            margin: 5px 1px 0px 0px;
            float: right;
          }
        }
        .chatbox {
          overflow: scroll;
          height: 100vh;
          .messageContainer {
            width:90%;
            margin-left:0px;
            margin-right:15px;
            margin-top:0.75em;
            margin-bottom:0.75em;
            padding:5px;
            border: 1px solid transparentize(#FFF,0.8);
            -webkit-box-shadow: 7px 6px 3px -3px rgba(167,167,167,1);
            -moz-box-shadow: 7px 6px 3px -3px rgba(167,167,167,1);
            box-shadow: 7px 6px 3px -3px rgba(167,167,167,1);
            background:#00CC66;
            border-radius:4px;
            .username{
              margin:0px;
              font-weight:bold;
            } 
            .message {
              display:inline;
              color:white;
            }
          }
          .isme{
            margin-right:0px;
            margin-left:15px;
            background:white;
            .message{
              color:#00CC66;
            }
          }
        }
        .inputBox {
          .newMessage{
            margin:15px;
            width:64%;
          }
          .send{
              background:#00CC66;
              margin-left:-0.8em;
              height: 2.1em;
              line-height:1.05em;
              margin-top: -0.3em;
              width: 24%;
          }
        }
      }
    }
  }
