 #chat_container {
    z-index:99999999999;
    float:right;
    overflow: hidden;
    display:inline;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(white), to(rgb(237, 241, 244)));
    padding: 0px;
    margin: 0px;
    font-size: 14px;
    position: absolute;
    top: 0px;
    right: 0px;
    font-family: proxima-nova, "Helvetica Neue", Arial, sans-serif;
    .s {
      height: 100vh;
      .foldIn {
        .chatroom {
          top: 0px;
          left: 0px;
          bottom: 0px;
          right: 0px;
          height: 100%;
          border: 1px solid black;
          text-align:center;
          overflow: scroll;
          .room {
            border: 1px solid black;
            padding: 10px 0px 10px 0px;
            margin: 10px 0px 10px 0px;     
          }
        }
        .usersBoxContainer {
          height: 100vh;
          overflow: scroll;
          top: 0px;
          left: 0px;
          bottom: 0px;
          right: 0px;
          border: 1px solid black;
          .h3 {
            text-align: center;
          }
          .users {
              border-top: 1px solid black;
            .userbox {
              .camera_connect {
                float: left;
              }
              .username {
              
              }
            }
          }
        }
        .uservideos {
          .videobox {
            margin: 10px 10px 10px 10px;
            border: 1px solid black;
            .video {
              
            }
            .videoname {

            }
          }
        }
      }
      .chat {
        height:  100vh;
        overflow: scroll;
        top: 0px;
        left: 0px;
        bottom: 0px;
        right: 0px;
        border: 1px solid black;
        .fa-arrow-left {
          position: absolute;
          top: 300px;
          padding-right: -10px;
          margin-right: -10px;
        }
        .navbar {
          h4 {
            float: left;
          }
          .camera {
            margin: 5px 1px 0px 0px;
            float: right;
          }
        }
        .chatbox {
          border: 3px groove black;
          -webkit-box-shadow: rgb(46, 74, 117) 7px 6px 12px -2px;
          box-shadow: rgb(46, 74, 117) 7px 6px 12px -2px;
          overflow: scroll;
          height: 80vh;
          .messagesBox {
            .username{
              margin:0.4em;
            }
            .messageContainer {
              margin:1.3em;
              width:80%;
              border: 1px solid black;
              border-image-source: initial;
              border-image-slice: initial;
              border-image-width: initial;
              border-image-outset: initial;
              border-image-repeat: initial;
              -webkit-box-shadow: rgb(46, 74, 117) 7px 6px 12px -2px;
              box-shadow: rgb(46, 74, 117) 7px 6px 12px -2px;
              .message {
                display:inline;
              }
            }
          }
        }
        .inputBox {
          .newMessage{
            margin:15px;
            width:64%;
          }
          .send{
              margin-left:-0.8em;
              height: 2.1em;
              margin-top: -0.3em;
              width: 24%;
          }
        }
      }
    }
  }
